@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	/*=======Main theme colors=======*/
	--first-color: #0e2431;
	--second-color: #6a59d1;
	--third-color: #777;

	/*=======Hover colors=======*/
	--hover-color: #1e03cf;

	/*=======Background colors=======*/
	--body-bg-color: #fefefe;
	--card-bg-color: #fff;
	--modal-bg-color: #fff;
	--bg-transparent-color: rgba(0, 0, 0, 0.1);
	--bg-transparent-color-01: rgba(0, 0, 0, 0.1);
	--bg-transparent-color-02: rgba(106, 89, 209, 0.1);
	--liner-color: #d7d7d7;

	/*=======Color Filter=======*/
	--color-filter: invert(1);

	/*=======Box shadow=======*/
	--box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

	/*=======Font size=======*/
	--small-font-size: 14px;
	--normal-font-size: 16px;

	/*=======Scroll bar colors=======*/
	--scroll-bar-color: #c5cadf;
	--scroll-thumb-color: #70768a;
	--scroll-thumb-hover-color: #454f6b;
}

body.dark-theme {
	/*=======Main theme colors=======*/
	--first-color: #fff;
	--second-color: #6a59d1;
	--third-color: #a9afc3;

	/*=======Background colors=======*/
	--body-bg-color: #0e1b31;
	--card-bg-color: #132347;
	--modal-bg-color: #102048;
	--bg-transparent-color: rgba(255, 255, 255, 0.1);
	--bg-transparent-color-01: rgba(255, 255, 255, 0.1);
	--liner-color: #454f6b;

	/*=======Color Filter=======*/
	--color-filter: invert(0);

	/*=======Scroll bar colors=======*/
	--scroll-bar-color: #c1ceff;
	--scroll-thumb-color: #282f4e;
	--scroll-thumb-hover-color: #454f6b;
}

.dark-theme .nav-menu-btn {
	background: url(../img/burger-white.svg) no-repeat center;
}

.dark-theme .close1 {
	background: url(../img/close-white.svg) no-repeat center;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

html {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	scroll-behavior: smooth;
	font-size: 16px;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	color: var(--first-color);
	background: var(--body-bg-color);
	overflow-x: hidden;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.container {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* темна тема */

.them-btn {
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 45px;
	height: 45px;
	color: var(--first-color);
	border-radius: 3px;
	background: var(--second-color);
	backdrop-filter: blur(20px);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	font-size: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	z-index: 11;
	box-shadow: var(--box-shadow);
	transition: 0.3 line-height;
	-webkit-transition: 0.3 line-height;
	-moz-transition: 0.3 line-height;
	-ms-transition: 0.3 line-height;
	-o-transition: 0.3 line-height;
	display: flex;
	justify-content: center;
	align-items: center;
}

.them-btn .fa-sun {
	display: none;
}

.them-btn .fa-moon {
	color: var(--modal-bg-color);
}

/*  skroll to top button  */

.scrollToTop {
	position: fixed;
	right: 1px;
	bottom: 20px;
	width: 45px;
	height: 45px;
	background: var(--second-color);
	color: #fff;
	font-size: var(--small-font-size);
	border-radius: 3px;
	cursor: pointer;
	z-index: -1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: var(--box-shadow);
	opacity: 0;
	visibility: hidden;
	transition: 0.3 line-height;
	-webkit-transition: 0.3 line-height;
	-moz-transition: 0.3 line-height;
	-ms-transition: 0.3 line-height;
	-o-transition: 0.3 line-height;
}

.scrollToTop.active {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	right: 20px;
	bottom: 20px;
}

.scrollToTop.flex-center {
	justify-content: center;
}

main {
	flex: 1;
}

/* ===== Scroll bar ===== */
::-webkit-scrollbar {
	width: 10px;
	background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 20px;
	background: var(--scroll-thumb-hover-color);
}

/*//////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////*/

@media (max-width: 1040px) {
	.contact-card h2 {
		font-size: 42px;
	}
	.get-in-touch .contact-card {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

/* ========== Адаптація для планшетів (max-width: 991px) ========== */
@media (max-width: 991px) {
	.get-in-touch-link {
		margin: 5px;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: column;
	}

	.about-group {
		margin: 0 auto;
		padding-bottom: 50px;
		text-align: center;
	}

	.info-group {
		padding-bottom: 50px;
	}

	.header-wrapper {
		padding: 15px 0;
	}

	.nav-ul-menu {
		gap: 30px;
	}

	.home-wrapper {
		flex-direction: column;
		text-align: center;
		gap: 30px;
	}

	.home-info h1 {
		font-size: 40px;
	}

	.home-info h3 {
		font-size: 18px;
	}

	.home-img img {
		width: 70%;
		margin: 0 auto;
	}

	.about-wrapper {
		flex-direction: column;
		text-align: center;
	}

	.proffesional-list {
		flex-direction: column;
		row-gap: 15px;
	}

	.skills-info {
		flex-direction: column;
		align-items: center;
	}

	.services-list {
		justify-content: center;
	}

	.media-icons {
		display: flex;
		flex-direction: row !important;
	}

	.fa-brands {
		padding-right: 20px;
	}

	.client-swipper .swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		margin: 5px;
		margin-left: 0;
	}
}

.clent-details p {
	font-size: 16px;
	color: var(--third-color);
	margin-left: 15px;
	margin-bottom: 20px;
	border-bottom: 2px solid var(--liner-color);
}

.swiper-button-next,
.swiper-button-prev {
	margin-top: 40px;
}

/* ========== Адаптація для телефонів (max-width: 768px) ========== */
@media (max-width: 768px) {
	.about-info p {
		margin: 0 20px;
	}

	.nav-menu-btn {
		display: block;
		position: relative;
		z-index: 5;
		width: 40px;
		height: 40px;
		background: url('../img/burger.svg') no-repeat center / contain;
		cursor: pointer;
		transition: 0.3s linear;
		-webkit-transition: 0.3s linear;
		-moz-transition: 0.3s linear;
		-ms-transition: 0.3s linear;
		-o-transition: 0.3s linear;
	}

	.nav-menu-btn.close {
		background: url('../img/close.svg') no-repeat center / contain;
	}

	.nav {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		align-items: center;
		background: var(--bg-transparent-color-01);
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		transition: 0.3 linear;
		-webkit-transition: 0.3 linear;
		-moz-transition: 0.3 linear;
		-ms-transition: 0.3 linear;
		-o-transition: 0.3 linear;
	}

	.nav.active {
		z-index: 3;
		opacity: 1;
		visibility: visible;
	}

	.contact-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.header-wrapper {
		padding: 10px 0;
	}

	.nav-ul-menu {
		position: relative;
		flex-direction: column;
		max-width: 600px;
		width: 100%;
		margin: 20px;
		padding: 40px;
		background: var(--modal-bg-color);
		border-radius: 10px;
		transform: translateY(-50%);
		transition: 0.3 linear;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transition: 0.3 linear;
		-moz-transition: 0.3 linear;
		-ms-transition: 0.3 linear;
		-o-transition: 0.3 linear;
	}

	.nav-ul-menu li {
		text-align: center;
	}

	.nav-ul-menu.active {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
	}

	.home-info h1 {
		font-size: 32px;
	}

	.home-info h3 {
		font-size: 16px;
	}

	.home-info p {
		max-width: 100%;
	}

	.about-img img {
		max-width: 80%;
		margin: 0 auto;
	}

	.inner-title {
		font-size: 40px;
	}

	.inner-second-title {
		font-size: 20px;
	}

	.services-list .service-card {
		max-width: 100%;
		padding: 30px;
	}

	.education {
		width: 100%;
	}

	.experiens-card {
		width: 100%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		margin-top: 140px;
	}
}

/* ========== Дуже малі телефони (max-width: 480px) ========== */
@media (max-width: 480px) {
	.contact-card .title {
		margin-bottom: 5px;
	}

	.contact-wrapper {
		display: flex;
		justify-content: space-around;
		width: 100%;
		gap: 10px;
		margin: 0 auto;
		flex-direction: column;
	}

	.info-group ul,
	.follov-group ul {
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
		margin: 10px;
		justify-content: center;
		margin-right: 10px;
		margin-left: 10px;
	}

	.second-row {
		flex-direction: column;
	}
	.second-row input {
		width: 100%;
	}

	body {
		font-size: 14px;
	}

	.home-info h1 {
		font-size: 26px;
	}

	.inner-info-link {
		padding: 15px 20px;
		font-size: 14px;
	}

	.scroll-down {
		font-size: 14px;
		width: auto;
	}

	.proffesional-list .list-item .number {
		font-size: 28px;
	}

	.services-description {
		font-size: 22px;
		margin-bottom: 30px;
	}

	.service-card h3 {
		font-size: 20px;
	}

	.service-card > i {
		font-size: 36px;
	}

	.nav-ul-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.media-icons {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	.logo {
		margin-right: 20px;
	}

	.get-in-touch .contact-card {
		display: flex;
		flex-direction: column;
	}

	.contact-card .title {
		margin-bottom: 50px;
	}
}
